:root {
    /*Colors*/
    --main-dark-cl: #2E2F42;
    --main-dark-accent: #434455;
    --main-light-cl: #F4F4FD; 
    --accent-cl: #FFFFFF;
    --blue-accent-cl: #4D5AE5;
    --BLUE-accent-cl: #404BBF;
    --border-cl: #E7E9FC;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Common styles */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--main-dark-accent);
    background-color: var(--accent-cl);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*Reserts*/
ul, 
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, p {
margin: 0;
padding: 0;
}

.link, 
a {
    text-decoration: none;
}
.btn,
button {
    font-family: inherit;
    cursor: pointer;
}
.
/* Base styles */

.title {
}
.title-accent {
}
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--main-dark-cl);
    margin-bottom: 72px;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
    /* Logo styles */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-accent-cl);
}        
.logo-dark {
    color: var(--main-dark-cl);
}
.logo-light {
    color: var(--main-light-cl);
}
    /* Header styles */
.header {
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
    border-bottom: 1px solid var(--border-cl);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-item { 
}

.header-nav {
    display: flex;
    align-items: center;
}
.link {
    text-decoration: none;
}    
.header-nav .logo {
    margin-right: 76px;
}
    
.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
      
.header-link { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}
.header-link:hover,
.header-link:focus {
    color: var(--BLUE-accent-cl);
}
    
.address {
    font-style: normal;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}       
.tel {}
    
.mail {}
        
.address-link {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--main-dark-accent);
}
.address-link:hover,
.address-link:focus {
    color: var(--BLUE-accent-cl);
}
.address {list-style: none;
}
/* Main styles */

/* Hero section styles*/
.section {}

.hero {
    background-color: var(--main-dark-cl);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--accent-cl);
    max-width: 496px;
    margin: 0 auto;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--accent-cl);
    background-color: var(--blue-accent-cl);
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    margin-top: 48px;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--BLUE-accent-cl);
}

/* Advantages section*/
.section.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-advantages.list {
    display: flex;
    width: 1128px;
    justify-content: space-between;
    gap: 24px;
}
.section-advantages-item {
    width: calc((100% - 3 * 24px) / 4);
}
.section-advantages-item:last-child {
    margin-right: 0;
}   
.advantages-subtitle {
    margin-bottom: 8px;
}
.section-advantages-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

/*What are we doing section*/
.section {}

.doing {
padding-bottom: 120px;
}

.section-doing-title {
    margin-bottom: 72px;
}

.section-doing-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.section-doing-item {
    width: calc((100% - 2 * 24px) / 3);
}
.section-doing-img:last-child {
    margin-right: 0;
}



/*Our team section*/
.section {}

.team { 
    background-color: var(--main-light-cl) ;
    padding-top: 120px;
}
.section.team {
    padding: 120px 0;
}
.section-team-title {}

.section-team-list {
    display: flex;
    gap: 24px;
}

.section-team-list:last-child {
    margin-right: 0;
}

.section-team-item {
    background: var(--accent-cl);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 3 * 24px) / 4);
}

.section-team-img {}

.section-team-subtitle {}

.section-team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.section-team-item .subtitle {
    text-align: center;
    margin-bottom: 8px;
}
.expert {
    padding: 32px 16px;
}

/*Footer section*/
.footer {
    background: var(--main-dark-cl);
    color: var(--main-light-cl);
    padding-top: 100px ;
    padding-bottom: 100px;

}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}
/*Portfolio*/
.section.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-btn {
    color: var(--blue-accent-cl);
    background-color: var(--main-light-cl);
    border: 1px solid var(--border-cl);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    height: 48px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
   
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--accent-cl);
    background-color: var(--BLUE-accent-cl);
    border: 1px solid transparent;
}
.portfolio-text {
color: var(--main-dark-accent);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}
.portfolio-main-item {

}
.portfolio-main {
    list-style: none;
}
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
    margin-bottom: 8px;
}
.portfolio-list {
    display: flex;
    min-width: 586px;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-main.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-main-item {
    width: calc((100% - 2 * 24) / 3);
}
.prtfolio-main-item:last-child {
    margin-right: 0;
}
.portfolio-item { 
    width: 360px;
    height: 420px;
}

.portfolio-main.link {
    display: flex;
    flex-direction: column;
}
.portfolio-container {
    border: 1px solid var(--border-cl);
    border-top: none;
    padding: 32px 16px;
    flex-grow: 1;
}